body {
  font: 100% "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #1c1c1c; }

a {
  text-decoration: none; }

#tp-widget {
  width: 29%;
  overflow: scroll;
  background: #efefef;
  margin: 10px auto;
  padding: 15px;
  border-radius: 4px; }

.svg-box {
  max-width: 158px;
  padding-bottom: 10px; }

.rating img {
  max-width: 158px; }

.panel {
  border-color: #ddd;
  background-color: white;
  padding: 10px 10px;
  margin: 10px 0; }
  .panel p {
    margin: 7px 0; }
  .panel h3 {
    margin: 0; }
  .panel h4 {
    margin-bottom: 0; }

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 5px; }

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; }

.panel-title {
  font-size: 16px;
  color: inherit; }

.panel-heading {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
