$font-stack: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$color-primary: #1c1c1c;
$color-bg-light: #efefef;

body {
  font: 100% $font-stack;
  color: $color-primary;
}

a {
  text-decoration: none;
}

#tp-widget {
  width: 29%;
  overflow: scroll;
  background: $color-bg-light;
  margin: 10px auto;
  padding: 15px;
  border-radius: 4px;
}

//**** TrustPilot logo *****//

.svg-box {
  max-width: 158px;
  padding-bottom: 10px
}

.rating {
  //padding-bottom: 10px;
  img {
    max-width: 158px;
  }
}

//***** Accordion ******//

.panel {
  border-color: #ddd;
  background-color: white;
  padding: 10px 10px;
  margin: 10px 0;
  p {
    margin: 7px 0;
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin-bottom: 0;
  }
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 5px;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.panel-title {
  font-size: 16px;
  color: inherit;
}

.panel-heading {
  cursor: pointer;
}